* {
	margin:0 ;
	padding: 0;
}
body, html {
	font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 100px;
    align-items:end;
}

.nav > h1 {
	font-size: 70px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 200px;
    font-size: 19px;
}

a {
	text-decoration: none;
	color: inherit;
	font: inherit;
}

.main > p {
	font-size: 60px;
	margin: 15px;
}

.form {
	display: flex;
	flex-direction: column;
	border: 3px gray solid;
	width: 400px;
	border-radius: 10px;
	padding: 10px;
	padding-right: 50px;
	
}

.campo {
	display: flex;
	flex-direction: column;
	width: 200px;
	gap: 5px;
	padding: 10px;
	margin: 12px;
	font-weight: bold;
}

input[type="text"], input[type="password"] {
	padding: 15px;
	border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
	
}

.error {
    color: red;
    width: 300px;
}

.btn-form {
    background-color: #4C00FF;
    border: none;
    color: white;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 22px;
  }
  
 